/*header{
background-color: #dccdba;
}*/

h1{
color: #000000;
text-align: center;

}

h2{
color: #000060;
text-align: center;
text-transform: uppercase;
}


body{
  #grad1
    height: auto;
    background-image: linear-gradient(to left, rgba(110,135,215,1), rgba(89,239,203,1));
  }


section{
width: auto;
}



nav a{
  text-align: left;
color: #ffffff;
background-color: #000000;
text-align: center;
}

footer{
  position: absolute;
    bottom: 5;
    left: 0;
    right: 0;
    background: #111111;
    height: 10%;
    width: 100%;
    padding-top: 40px;
    color: #ffffff;
}

/*img{
display: none;
*/
