header{
	/*background: #6d8bd6;*/
	text-align: center;
	padding-bottom: 0px;
}
.header1 {
  overflow: hidden;
  background-color: #3e5151;
  padding: 5px 5px;

}
.header1 a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

}
.header1 a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header1 a:hover {
  background-color: #dddddd;
  color: black;
}
.header1 a.active {
  /*background-color: dodgerblue;*/
  color: white;
}
.header-right {
  float: right;
}
body{
	overflow: hidden;
	overflow-y: scroll;
	top: 0; right: 0; bottom: 0; left: 0;
}
/*@media screen and (max-width: 500px) {
  .header1 a {
    float: none;
    display: block;
    text-align: left;
  }
	.header-right {
    float: none;
  }*/
/*nav{
	position: fixed;
  background: #120344;
	font-variant: small-caps;
	font-family: Verdana, "Arial", "Times New Roman", serif;
	font-size: 150%;
  padding-bottom: 15px;
	width:100%;
	color: #ffffff;
}*/
.container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 1.750rem;

}

.container img {
	vertical-align: middle;
}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 0px;
	text-align: center;
}

.about{
	/*background-color: #e9dccd;*/
	background-image: linear-gradient(to left, rgba(110,135,215,1), rgba(89,239,203,1));
  width: 100%;
  border: 0px solid green;
  padding: 50px;
  margin: 0px;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 1.750rem;
	box-sizing: border-box;
	text-align: center;

}
.education{
	/*background-color: #e9dccd;*/
	background-image: linear-gradient(to left,rgba(110,135,215,1), rgba(89,239,203,1));
  width: 100%;
  border: 0px solid green;
  padding: 50px;
  margin: 0px;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 1.750rem;
	box-sizing: border-box;

}
a.button{
    display: block;
    font-weight: bold;
    color: #ffffff;
    background: #none;
    width: 200px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    margin:0 auto;  /*Centers the element*/
    margin-top: 10px;
}

/*When mouse hovers over link*/
a.button:hover{
  #link
    background: #B3B3B3;
    color: #0006CC;
}

/*When user tabs to this link*/
a.button:focus{
  #link
    background: #B3B3B3;
    color: #0006CC;
}

/*When user clicks and holds mouse button on this link*/
a.button:active{
  #link
    border: 3px solid #000000;
}

.column {
  float: left;
  width: 20%;
  padding: 15px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.skills{
	/*background-color: #3e5151;*/
	background-image: linear-gradient(to left, rgba(221,203,164,1), rgba(65,83,83,1));
  width: 100%;
  border: 0px solid green;
  padding: 50px;
  margin: 0px;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 1.750rem;
	color:#ffffff;
	box-sizing: border-box;
	text-align: center;
}


ol{
	list-style-type: upper-roman;
}

ul{
	list-style-type: square;
}

/*Uncomment this rule */
ul, ol{
  list-style-type: square;
/*	list-style-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/389177/lightning.png");*/
}
a.button2 {
  display: inline-block;
  padding: 10px 0px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: #63BBD1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #85ACB6;
}

a.button2:hover {
  background-color: #85ACB6
}
a.button2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.location{
	/*background-color: #e9dccd;*/
	background-image: linear-gradient(to left, rgba(60,59,62,1), rgba(95,91,60,1));
  width: 100%;
  border: 0px solid green;
  padding: 50px;
  margin: 0px;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 1.750rem;
	box-sizing: border-box;
text-align: center;
}

footer{
  position: absolute;
    bottom: 5;
    left: 0;
    right: 0;
    background: #111111;
    height: 10%;
    width: 100%;
    padding-top: 10px;
		padding-bottom: 40px;
    color: #ffffff;
    clear: both;
}
#clickableAwesomeFont {
     cursor: pointer
}

.fa {
  color : #ffffff;
}
